streamlit==1.41.1
pillow==11.1.0
nltk==3.9.1
scikit-learn==1.6.1
joblib==1.4.2
spacy==3.7.5
en-core-web-sm == https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
Python regular expression == 2.2.1
